.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    min-width: 100vw;
    padding-top: 3rem;
}
.display-4 {
    border-radius: 20px;
    border: solid 1px #ddd;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.App-header {
    /* background-color: #282c34; */
    min-height: 80vh;
    max-width: 600px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-size: calc(10px + 2vmin);
    margin: 0px auto;
    border: 1px solid #ddd;
    border-radius: 20px;
    color: white;
    /* overflow: hidden; */
}

h2 {
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

/* #mario-chat {
    max-width: 500px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
} */

.chat-window {
    height: 400px;
    overflow: auto;
    border-bottom: #282c34 2px solid;
    background: #282c34;
}

#output {
    height: 100%;
    width: 100%;
}

#output p {
    padding: 14px 0px;
    margin: 0 20px;
    z-index: 10000;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p {
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong {
    color: #575ed8;
}

p {
    color: lightcyan;
}
label {
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input {
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

#send {
    background: #575ed8;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}
